# 1. Imports

In [1]:
# Libraries
import pandas as pd
import numpy as np
import os
import hashlib

In [2]:
# Files
path = os.path.expanduser('~/Desktop/CareerFoundry/2.4/4.10.') # path to the root folder

### Products
df_products = pd.read_pickle(os.path.join(path, '02 Data', 'Clean Data', 'products.pkl'))
### Orders
df_orders = pd.read_pickle(os.path.join(path, '02 Data', 'Clean Data', 'orders.pkl')) 
### Customers
df_customers = pd.read_pickle(os.path.join(path, '02 Data', 'Clean Data','customers.pkl'))
### Departments
df_departments = pd.read_pickle(os.path.join(path, '02 Data', 'Clean Data', 'departments.pkl'))
### Prior Orders
df_orders_prior= pd.read_pickle(os.path.join(path, '02 Data', 'Clean Data', 'orders_products_prior.pkl'))

## Orders and Products Prior = df_orders_products_prior_merged

In [13]:
df_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [3]:
df_orders_products_prior_merged = []
df_orders_products_prior_merged = df_orders.merge(df_orders_prior, on='order_id', indicator = 'merge_flag_orders_prod_prior')

In [4]:
df_orders_products_prior_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,merge_flag_orders_prod_prior
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [5]:
df_orders_products_prior_merged['merge_flag_orders_prod_prior'].value_counts() # checking how data was merged

merge_flag_orders_prod_prior
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Products and Orders Products Prior Merged = df_orders_products_prior_products_merged

In [6]:
df_orders_products_prior_products_merged = []
df_orders_products_prior_products_merged = df_orders_products_prior_merged.merge(df_products, on = ['product_id'], 
                                                                indicator='merge_flag_orders_products_prior_products')

In [7]:
df_orders_products_prior_products_merged['merge_flag_orders_products_prior_products'].value_counts() # checking how data was merged

merge_flag_orders_products_prior_products
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Customers and Orders Products Prior Merged products = df_order_history

In [8]:
def hash_id(val): # because we hashed user ids in Step 0, we need to prepare data to be able to use it for merging.
    return hashlib.sha256(str(val).encode()).hexdigest()

In [9]:
# decoding hashed values in each df, so that they could be compared
df_customers['user_id_hashed'] = df_customers['user_id'].apply(hash_id)
df_orders_products_prior_products_merged['user_id_hashed'] = df_orders_products_prior_products_merged['user_id'].apply(hash_id)

In [10]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      206209 non-null  int64
 1   user_id         206209 non-null  object
 2   gender          206209 non-null  category
 3   state           206209 non-null  category
 4   date_joined     206209 non-null  datetime64[ns]
 5   dependants      206209 non-null  int64
 6   family_status   206209 non-null  category
 7   age_group       206209 non-null  object
 8   income_bracket  206209 non-null  object
 9   user_id_hashed  206209 non-null  object
dtypes: category(3), datetime64[ns](1), int64(2), object(4)
memory usage: 11.6+ MB

In [11]:
df_orders_products_prior_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,merge_flag_orders_prod_prior,product_name,aisle_id,department_id,prices,merge_flag_orders_products_prior_products,user_id_hashed
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,both,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...

In [12]:
df_order_history = df_orders_products_prior_products_merged.merge(
    df_customers,
    on='user_id',
    how='left',  # Use left join to avoid explosion
    indicator='merge_flag_customer'
)

KeyboardInterrupt:

In [ ]:
df_order_history.head()

In [ ]:
df_order_history['merge_flag_customer'].value_counts() # checking how data was merged

In [ ]:
print(df_order_history.duplicated().sum()) # duplicates check

## Imports

In [ ]:
df_order_history.to_csv(os.path.join(path, '02 Data','Clean Data', 'order_history.csv'))

In [ ]:
df_order_history.to_pickle(os.path.join(path, '02 Data','Clean Data', 'order_history.pkl'))

In [ ]:
df_orders_products_prior_products_merged.to_csv(os.path.join(path, '02 Data','Clean Data', 'order_history_no_customer.csv'))

In [ ]:
df_orders_products_prior_products_merged.to_pickle(os.path.join(path, '02 Data','Clean Data', 'order_history_no_customer.pkl'))